<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>winter</key>
	<array>
		<dict>
			<key>year</key>
			<string>1948</string>
			<key>country</key>
			<string>Switzerland</string>
			<key>host</key>
			<string>St. Moritz</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Norway</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Sweden</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Switzerland</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>4</integer>
					<key>bronze</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>4</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>France</string>
					<key>gold</key>
					<integer>2</integer>
					<key>silver</key>
					<integer>1</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1952</string>
			<key>country</key>
			<string>Norway</string>
			<key>host</key>
			<string>Oslo</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Norway</string>
					<key>gold</key>
					<integer>7</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>6</integer>
					<key>bronze</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Finland</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>4</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>West Germany</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>2</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Austria</string>
					<key>gold</key>
					<integer>2</integer>
					<key>silver</key>
					<integer>4</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1956</string>
			<key>country</key>
			<string>Italy</string>
			<key>host</key>
			<string>Cortina d&apos;Ampezzo</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>7</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Austria</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Finland</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Switzerland</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>2</integer>
					<key>bronze</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Sweden</string>
					<key>gold</key>
					<integer>2</integer>
					<key>silver</key>
					<integer>4</integer>
					<key>bronze</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1960</string>
			<key>country</key>
			<string>United States</string>
			<key>host</key>
			<string>Squaw Valley</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>7</integer>
					<key>silver</key>
					<integer>5</integer>
					<key>bronze</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>West Germany</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>4</integer>
					<key>bronze</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Norway</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Sweden</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>2</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1964</string>
			<key>country</key>
			<string>Austria</string>
			<key>host</key>
			<string>Innsbruck</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>11</integer>
					<key>silver</key>
					<integer>8</integer>
					<key>bronze</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Austria</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>5</integer>
					<key>bronze</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Norway</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>6</integer>
					<key>bronze</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Finland</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>4</integer>
					<key>bronze</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>France</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>4</integer>
					<key>bronze</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1968</string>
			<key>country</key>
			<string>France</string>
			<key>host</key>
			<string>Grenoble</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Norway</string>
					<key>gold</key>
					<integer>6</integer>
					<key>silver</key>
					<integer>6</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>5</integer>
					<key>silver</key>
					<integer>5</integer>
					<key>bronze</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>France</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Italy</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>0</integer>
					<key>bronze</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Austria</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>4</integer>
					<key>bronze</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1972</string>
			<key>country</key>
			<string>Japan</string>
			<key>host</key>
			<string>Sapporo</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>8</integer>
					<key>silver</key>
					<integer>5</integer>
					<key>bronze</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>East Germany</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Switzerland</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Netherlands</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>2</integer>
					<key>bronze</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1976</string>
			<key>country</key>
			<string>Austria</string>
			<key>host</key>
			<string>Innsbruck</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>13</integer>
					<key>silver</key>
					<integer>6</integer>
					<key>bronze</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>East Germany</string>
					<key>gold</key>
					<integer>7</integer>
					<key>silver</key>
					<integer>5</integer>
					<key>bronze</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Norway</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>West Germany</string>
					<key>gold</key>
					<integer>2</integer>
					<key>silver</key>
					<integer>5</integer>
					<key>bronze</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1980</string>
			<key>country</key>
			<string>United States</string>
			<key>host</key>
			<string>Lake Placid</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>10</integer>
					<key>silver</key>
					<integer>6</integer>
					<key>bronze</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>East Germany</string>
					<key>gold</key>
					<integer>9</integer>
					<key>silver</key>
					<integer>7</integer>
					<key>bronze</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>6</integer>
					<key>silver</key>
					<integer>4</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Austria</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>2</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Sweden</string>
					<key>gold</key>
					<integer>3</integer>
					<key>silver</key>
					<integer>0</integer>
					<key>bronze</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1984</string>
			<key>country</key>
			<string>Yugoslavia</string>
			<key>host</key>
			<string>Sarajevo</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>East Germany</string>
					<key>gold</key>
					<integer>9</integer>
					<key>silver</key>
					<integer>9</integer>
					<key>bronze</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>6</integer>
					<key>silver</key>
					<integer>10</integer>
					<key>bronze</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>4</integer>
					<key>bronze</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Finland</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Sweden</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>2</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1988</string>
			<key>country</key>
			<string>Canada</string>
			<key>host</key>
			<string>Calgary</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>11</integer>
					<key>silver</key>
					<integer>9</integer>
					<key>bronze</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>East Germany</string>
					<key>gold</key>
					<integer>9</integer>
					<key>silver</key>
					<integer>10</integer>
					<key>bronze</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Switzerland</string>
					<key>gold</key>
					<integer>5</integer>
					<key>silver</key>
					<integer>5</integer>
					<key>bronze</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Finland</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>1</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Sweden</string>
					<key>gold</key>
					<integer>4</integer>
					<key>silver</key>
					<integer>0</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1992</string>
			<key>country</key>
			<string>France</string>
			<key>host</key>
			<string>Albertville</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Germany</string>
					<key>gold</key>
					<integer>10</integer>
					<key>silver</key>
					<integer>10</integer>
					<key>bronze</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Unified Team</string>
					<key>gold</key>
					<integer>9</integer>
					<key>silver</key>
					<integer>6</integer>
					<key>bronze</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Norway</string>
					<key>gold</key>
					<integer>9</integer>
					<key>silver</key>
					<integer>6</integer>
					<key>bronze</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Austria</string>
					<key>gold</key>
					<integer>6</integer>
					<key>silver</key>
					<integer>7</integer>
					<key>bronze</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>5</integer>
					<key>silver</key>
					<integer>4</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1994</string>
			<key>country</key>
			<string>Norway</string>
			<key>host</key>
			<string>Lillehammer</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Russia</string>
					<key>gold</key>
					<integer>11</integer>
					<key>silver</key>
					<integer>8</integer>
					<key>bronze</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Norway</string>
					<key>gold</key>
					<integer>10</integer>
					<key>silver</key>
					<integer>11</integer>
					<key>bronze</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Germany</string>
					<key>gold</key>
					<integer>9</integer>
					<key>silver</key>
					<integer>7</integer>
					<key>bronze</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Italy</string>
					<key>gold</key>
					<integer>7</integer>
					<key>silver</key>
					<integer>5</integer>
					<key>bronze</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>6</integer>
					<key>silver</key>
					<integer>5</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1998</string>
			<key>country</key>
			<string>Japan</string>
			<key>host</key>
			<string>Nagano</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Germany</string>
					<key>gold</key>
					<integer>12</integer>
					<key>silver</key>
					<integer>9</integer>
					<key>bronze</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Norway</string>
					<key>gold</key>
					<integer>10</integer>
					<key>silver</key>
					<integer>10</integer>
					<key>bronze</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Russia</string>
					<key>gold</key>
					<integer>9</integer>
					<key>silver</key>
					<integer>6</integer>
					<key>bronze</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Canada</string>
					<key>gold</key>
					<integer>6</integer>
					<key>silver</key>
					<integer>5</integer>
					<key>bronze</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>6</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>2002</string>
			<key>country</key>
			<string>United States</string>
			<key>host</key>
			<string>Salt Lake host</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Norway</string>
					<key>gold</key>
					<integer>13</integer>
					<key>silver</key>
					<integer>5</integer>
					<key>bronze</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Germany</string>
					<key>gold</key>
					<integer>12</integer>
					<key>silver</key>
					<integer>16</integer>
					<key>bronze</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>10</integer>
					<key>silver</key>
					<integer>13</integer>
					<key>bronze</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Canada</string>
					<key>gold</key>
					<integer>10</integer>
					<key>silver</key>
					<integer>13</integer>
					<key>bronze</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Russia</string>
					<key>gold</key>
					<integer>5</integer>
					<key>silver</key>
					<integer>4</integer>
					<key>bronze</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>2006</string>
			<key>country</key>
			<string>Italy</string>
			<key>host</key>
			<string>Turin</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Germany</string>
					<key>gold</key>
					<integer>11</integer>
					<key>silver</key>
					<integer>12</integer>
					<key>bronze</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>9</integer>
					<key>silver</key>
					<integer>9</integer>
					<key>bronze</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Austria</string>
					<key>gold</key>
					<integer>9</integer>
					<key>silver</key>
					<integer>7</integer>
					<key>bronze</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Russia</string>
					<key>gold</key>
					<integer>8</integer>
					<key>silver</key>
					<integer>6</integer>
					<key>bronze</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Canada</string>
					<key>gold</key>
					<integer>7</integer>
					<key>silver</key>
					<integer>10</integer>
					<key>bronze</key>
					<integer>7</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>2010</string>
			<key>country</key>
			<string>Canada</string>
			<key>host</key>
			<string>Vancouver</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Canada</string>
					<key>gold</key>
					<integer>14</integer>
					<key>silver</key>
					<integer>7</integer>
					<key>bronze</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Germany</string>
					<key>gold</key>
					<integer>10</integer>
					<key>silver</key>
					<integer>13</integer>
					<key>bronze</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>9</integer>
					<key>silver</key>
					<integer>15</integer>
					<key>bronze</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Norway</string>
					<key>gold</key>
					<integer>9</integer>
					<key>silver</key>
					<integer>8</integer>
					<key>bronze</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>South Korea</string>
					<key>gold</key>
					<integer>6</integer>
					<key>silver</key>
					<integer>6</integer>
					<key>bronze</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>2014</string>
			<key>country</key>
			<string>Russia</string>
			<key>host</key>
			<string>Sochi</string>
			<key>isSummer</key>
			<false/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Russia</string>
					<key>gold</key>
					<integer>13</integer>
					<key>silver</key>
					<integer>11</integer>
					<key>bronze</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Norway</string>
					<key>gold</key>
					<integer>11</integer>
					<key>silver</key>
					<integer>5</integer>
					<key>bronze</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Canada</string>
					<key>gold</key>
					<integer>10</integer>
					<key>silver</key>
					<integer>10</integer>
					<key>bronze</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>9</integer>
					<key>silver</key>
					<integer>7</integer>
					<key>bronze</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Netherlands</string>
					<key>gold</key>
					<integer>8</integer>
					<key>silver</key>
					<integer>7</integer>
					<key>bronze</key>
					<integer>9</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>summer</key>
	<array>
		<dict>
			<key>year</key>
			<string>1948</string>
			<key>country</key>
			<string>Great Britain</string>
			<key>host</key>
			<string>London</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>38</integer>
					<key>silver</key>
					<integer>27</integer>
					<key>bronze</key>
					<integer>19</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Sweden</string>
					<key>gold</key>
					<integer>16</integer>
					<key>silver</key>
					<integer>11</integer>
					<key>bronze</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>France</string>
					<key>gold</key>
					<integer>10</integer>
					<key>silver</key>
					<integer>6</integer>
					<key>bronze</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Hungary</string>
					<key>gold</key>
					<integer>10</integer>
					<key>silver</key>
					<integer>5</integer>
					<key>bronze</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Italy</string>
					<key>gold</key>
					<integer>8</integer>
					<key>silver</key>
					<integer>11</integer>
					<key>bronze</key>
					<integer>8</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1952</string>
			<key>country</key>
			<string>Finland</string>
			<key>host</key>
			<string>Helsinki</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>40</integer>
					<key>silver</key>
					<integer>19</integer>
					<key>bronze</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>22</integer>
					<key>silver</key>
					<integer>30</integer>
					<key>bronze</key>
					<integer>19</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Hungary</string>
					<key>gold</key>
					<integer>16</integer>
					<key>silver</key>
					<integer>10</integer>
					<key>bronze</key>
					<integer>16</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Sweden</string>
					<key>gold</key>
					<integer>12</integer>
					<key>silver</key>
					<integer>13</integer>
					<key>bronze</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Italy</string>
					<key>gold</key>
					<integer>8</integer>
					<key>silver</key>
					<integer>9</integer>
					<key>bronze</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1956</string>
			<key>country</key>
			<string>Australia</string>
			<key>host</key>
			<string>Melbourne</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>37</integer>
					<key>silver</key>
					<integer>29</integer>
					<key>bronze</key>
					<integer>32</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>32</integer>
					<key>silver</key>
					<integer>25</integer>
					<key>bronze</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Australia</string>
					<key>gold</key>
					<integer>13</integer>
					<key>silver</key>
					<integer>8</integer>
					<key>bronze</key>
					<integer>14</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Hungary</string>
					<key>gold</key>
					<integer>9</integer>
					<key>silver</key>
					<integer>10</integer>
					<key>bronze</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Italy</string>
					<key>gold</key>
					<integer>8</integer>
					<key>silver</key>
					<integer>8</integer>
					<key>bronze</key>
					<integer>9</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1960</string>
			<key>country</key>
			<string>Italy</string>
			<key>host</key>
			<string>Rome</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>43</integer>
					<key>silver</key>
					<integer>29</integer>
					<key>bronze</key>
					<integer>31</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>34</integer>
					<key>silver</key>
					<integer>21</integer>
					<key>bronze</key>
					<integer>16</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Italy</string>
					<key>gold</key>
					<integer>13</integer>
					<key>silver</key>
					<integer>10</integer>
					<key>bronze</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Germany</string>
					<key>gold</key>
					<integer>12</integer>
					<key>silver</key>
					<integer>19</integer>
					<key>bronze</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Australia</string>
					<key>gold</key>
					<integer>8</integer>
					<key>silver</key>
					<integer>8</integer>
					<key>bronze</key>
					<integer>6</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1964</string>
			<key>country</key>
			<string>Japan</string>
			<key>host</key>
			<string>Tokyo</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>36</integer>
					<key>silver</key>
					<integer>26</integer>
					<key>bronze</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>30</integer>
					<key>silver</key>
					<integer>31</integer>
					<key>bronze</key>
					<integer>35</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Japan</string>
					<key>gold</key>
					<integer>16</integer>
					<key>silver</key>
					<integer>5</integer>
					<key>bronze</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Germany</string>
					<key>gold</key>
					<integer>10</integer>
					<key>silver</key>
					<integer>22</integer>
					<key>bronze</key>
					<integer>18</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Italy</string>
					<key>gold</key>
					<integer>10</integer>
					<key>silver</key>
					<integer>10</integer>
					<key>bronze</key>
					<integer>7</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1968</string>
			<key>country</key>
			<string>Mexico</string>
			<key>host</key>
			<string>Mexico host</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>45</integer>
					<key>silver</key>
					<integer>28</integer>
					<key>bronze</key>
					<integer>34</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>29</integer>
					<key>silver</key>
					<integer>32</integer>
					<key>bronze</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Japan</string>
					<key>gold</key>
					<integer>11</integer>
					<key>silver</key>
					<integer>7</integer>
					<key>bronze</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Hungary</string>
					<key>gold</key>
					<integer>10</integer>
					<key>silver</key>
					<integer>10</integer>
					<key>bronze</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>East Germany</string>
					<key>gold</key>
					<integer>9</integer>
					<key>silver</key>
					<integer>9</integer>
					<key>bronze</key>
					<integer>7</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1972</string>
			<key>country</key>
			<string>Germany</string>
			<key>host</key>
			<string>Munich</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>50</integer>
					<key>silver</key>
					<integer>27</integer>
					<key>bronze</key>
					<integer>22</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>33</integer>
					<key>silver</key>
					<integer>31</integer>
					<key>bronze</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>East Germany</string>
					<key>gold</key>
					<integer>20</integer>
					<key>silver</key>
					<integer>23</integer>
					<key>bronze</key>
					<integer>23</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>West Germany</string>
					<key>gold</key>
					<integer>13</integer>
					<key>silver</key>
					<integer>11</integer>
					<key>bronze</key>
					<integer>16</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Japan</string>
					<key>gold</key>
					<integer>13</integer>
					<key>silver</key>
					<integer>8</integer>
					<key>bronze</key>
					<integer>8</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1976</string>
			<key>country</key>
			<string>Canada</string>
			<key>host</key>
			<string>Montreal</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>49</integer>
					<key>silver</key>
					<integer>41</integer>
					<key>bronze</key>
					<integer>35</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>East Germany</string>
					<key>gold</key>
					<integer>40</integer>
					<key>silver</key>
					<integer>25</integer>
					<key>bronze</key>
					<integer>25</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>34</integer>
					<key>silver</key>
					<integer>35</integer>
					<key>bronze</key>
					<integer>25</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>West Germany</string>
					<key>gold</key>
					<integer>10</integer>
					<key>silver</key>
					<integer>12</integer>
					<key>bronze</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Japan</string>
					<key>gold</key>
					<integer>9</integer>
					<key>silver</key>
					<integer>6</integer>
					<key>bronze</key>
					<integer>10</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1980</string>
			<key>country</key>
			<string>Soviet Union</string>
			<key>host</key>
			<string>Moscow</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>80</integer>
					<key>silver</key>
					<integer>69</integer>
					<key>bronze</key>
					<integer>46</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>East Germany</string>
					<key>gold</key>
					<integer>47</integer>
					<key>silver</key>
					<integer>37</integer>
					<key>bronze</key>
					<integer>42</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Bulgaria</string>
					<key>gold</key>
					<integer>8</integer>
					<key>silver</key>
					<integer>16</integer>
					<key>bronze</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Cuba</string>
					<key>gold</key>
					<integer>8</integer>
					<key>silver</key>
					<integer>7</integer>
					<key>bronze</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Italy</string>
					<key>gold</key>
					<integer>8</integer>
					<key>silver</key>
					<integer>3</integer>
					<key>bronze</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1984</string>
			<key>country</key>
			<string>United States</string>
			<key>host</key>
			<string>Los Angeles</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>83</integer>
					<key>silver</key>
					<integer>61</integer>
					<key>bronze</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Romania</string>
					<key>gold</key>
					<integer>20</integer>
					<key>silver</key>
					<integer>16</integer>
					<key>bronze</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>West Germany</string>
					<key>gold</key>
					<integer>17</integer>
					<key>silver</key>
					<integer>19</integer>
					<key>bronze</key>
					<integer>23</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>China</string>
					<key>gold</key>
					<integer>15</integer>
					<key>silver</key>
					<integer>8</integer>
					<key>bronze</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Italy</string>
					<key>gold</key>
					<integer>14</integer>
					<key>silver</key>
					<integer>6</integer>
					<key>bronze</key>
					<integer>12</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1988</string>
			<key>country</key>
			<string>South Korea</string>
			<key>host</key>
			<string>Seoul</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Soviet Union</string>
					<key>gold</key>
					<integer>55</integer>
					<key>silver</key>
					<integer>31</integer>
					<key>bronze</key>
					<integer>46</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>East Germany</string>
					<key>gold</key>
					<integer>37</integer>
					<key>silver</key>
					<integer>35</integer>
					<key>bronze</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>36</integer>
					<key>silver</key>
					<integer>31</integer>
					<key>bronze</key>
					<integer>27</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>South Korea</string>
					<key>gold</key>
					<integer>12</integer>
					<key>silver</key>
					<integer>10</integer>
					<key>bronze</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>West Germany</string>
					<key>gold</key>
					<integer>11</integer>
					<key>silver</key>
					<integer>14</integer>
					<key>bronze</key>
					<integer>15</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1992</string>
			<key>country</key>
			<string>Spain</string>
			<key>host</key>
			<string>Barcelona</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>Unified Team</string>
					<key>gold</key>
					<integer>45</integer>
					<key>silver</key>
					<integer>38</integer>
					<key>bronze</key>
					<integer>29</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>37</integer>
					<key>silver</key>
					<integer>34</integer>
					<key>bronze</key>
					<integer>37</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Germany</string>
					<key>gold</key>
					<integer>33</integer>
					<key>silver</key>
					<integer>21</integer>
					<key>bronze</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>China</string>
					<key>gold</key>
					<integer>16</integer>
					<key>silver</key>
					<integer>22</integer>
					<key>bronze</key>
					<integer>16</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Cuba</string>
					<key>gold</key>
					<integer>14</integer>
					<key>silver</key>
					<integer>6</integer>
					<key>bronze</key>
					<integer>11</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>1996</string>
			<key>country</key>
			<string>United States</string>
			<key>host</key>
			<string>Atlanta</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>42</integer>
					<key>silver</key>
					<integer>32</integer>
					<key>bronze</key>
					<integer>25</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Russia</string>
					<key>gold</key>
					<integer>26</integer>
					<key>silver</key>
					<integer>21</integer>
					<key>bronze</key>
					<integer>16</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Germany</string>
					<key>gold</key>
					<integer>20</integer>
					<key>silver</key>
					<integer>18</integer>
					<key>bronze</key>
					<integer>27</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>China</string>
					<key>gold</key>
					<integer>16</integer>
					<key>silver</key>
					<integer>22</integer>
					<key>bronze</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>France</string>
					<key>gold</key>
					<integer>15</integer>
					<key>silver</key>
					<integer>7</integer>
					<key>bronze</key>
					<integer>15</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>2000</string>
			<key>country</key>
			<string>Australia</string>
			<key>host</key>
			<string>Sydney</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>37</integer>
					<key>silver</key>
					<integer>24</integer>
					<key>bronze</key>
					<integer>32</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Russia</string>
					<key>gold</key>
					<integer>32</integer>
					<key>silver</key>
					<integer>28</integer>
					<key>bronze</key>
					<integer>29</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>China</string>
					<key>gold</key>
					<integer>28</integer>
					<key>silver</key>
					<integer>16</integer>
					<key>bronze</key>
					<integer>14</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Australia</string>
					<key>gold</key>
					<integer>16</integer>
					<key>silver</key>
					<integer>25</integer>
					<key>bronze</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Germany</string>
					<key>gold</key>
					<integer>13</integer>
					<key>silver</key>
					<integer>17</integer>
					<key>bronze</key>
					<integer>26</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>2004</string>
			<key>country</key>
			<string>Greece</string>
			<key>host</key>
			<string>Athens</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>36</integer>
					<key>silver</key>
					<integer>39</integer>
					<key>bronze</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>China</string>
					<key>gold</key>
					<integer>32</integer>
					<key>silver</key>
					<integer>17</integer>
					<key>bronze</key>
					<integer>14</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Russia</string>
					<key>gold</key>
					<integer>28</integer>
					<key>silver</key>
					<integer>26</integer>
					<key>bronze</key>
					<integer>36</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Australia</string>
					<key>gold</key>
					<integer>17</integer>
					<key>silver</key>
					<integer>16</integer>
					<key>bronze</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Japan</string>
					<key>gold</key>
					<integer>16</integer>
					<key>silver</key>
					<integer>9</integer>
					<key>bronze</key>
					<integer>12</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>2008</string>
			<key>country</key>
			<string>China</string>
			<key>host</key>
			<string>Beijing</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>China</string>
					<key>gold</key>
					<integer>51</integer>
					<key>silver</key>
					<integer>21</integer>
					<key>bronze</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>36</integer>
					<key>silver</key>
					<integer>38</integer>
					<key>bronze</key>
					<integer>36</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Russia</string>
					<key>gold</key>
					<integer>23</integer>
					<key>silver</key>
					<integer>21</integer>
					<key>bronze</key>
					<integer>29</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Great Britain</string>
					<key>gold</key>
					<integer>19</integer>
					<key>silver</key>
					<integer>13</integer>
					<key>bronze</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Germany</string>
					<key>gold</key>
					<integer>16</integer>
					<key>silver</key>
					<integer>10</integer>
					<key>bronze</key>
					<integer>15</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>year</key>
			<string>2012</string>
			<key>country</key>
			<string>Great Britain</string>
			<key>host</key>
			<string>London</string>
			<key>isSummer</key>
			<true/>
			<key>medal_count</key>
			<array>
				<dict>
					<key>country</key>
					<string>United States</string>
					<key>gold</key>
					<integer>46</integer>
					<key>silver</key>
					<integer>28</integer>
					<key>bronze</key>
					<integer>29</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>China</string>
					<key>gold</key>
					<integer>38</integer>
					<key>silver</key>
					<integer>29</integer>
					<key>bronze</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Great Britain</string>
					<key>gold</key>
					<integer>29</integer>
					<key>silver</key>
					<integer>17</integer>
					<key>bronze</key>
					<integer>19</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>Russia</string>
					<key>gold</key>
					<integer>22</integer>
					<key>silver</key>
					<integer>25</integer>
					<key>bronze</key>
					<integer>32</integer>
				</dict>
				<dict>
					<key>country</key>
					<string>South Korea</string>
					<key>gold</key>
					<integer>13</integer>
					<key>silver</key>
					<integer>8</integer>
					<key>bronze</key>
					<integer>7</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
